[Unit]
Description=Collect sensor data from flexgrid
Wants=postgres.service

[Service]
WorkingDirectory=/home/btmdrl/DRL_FLEXLAB/flexlab/drivers
ExecStart=/home/btmdrl/anaconda3/bin/python flexgrid.py
User=btmdrl

[Install]
WantedBy=multi-user.target