[Unit]
Description=Run lights data collection every minute

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=lights.service

[Install]
WantedBy=timers.target